<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/matrix-style.css}"/>
    <link rel="stylesheet" th:href="@{/css/matrix-media.css}"/>
    <link rel="stylesheet" th:href="@{/css/uniform.css}"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{css/video-js.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{css/zoom.css}">
    <title>资源编辑</title>
</head>
<body>
<style>


    img {
        display: block;

        margin: 0 auto;
    }

    canvas {
        display: block;

        margin: 0 auto;

    }

    .mask {
        position: absolute;
        top: 0px;
        filter: alpha(opacity=60);
        background-color: #fff;
        z-index: 1002;
        left: 0px;
        opacity: 0.5;
        -moz-opacity: 0.5;
    }
</style>

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">V-STU</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div th:include="common/top :: top"></div>
<div th:include="common/menu :: menu"></div>

<div id="content">

    <div id="content-header">
        <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a
                href="/fileInfo" class="current">资源管理</a></a> <a href="#" class="current">资源编辑</a></div>
    </div>
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>资源编辑</h5>
        </div>
        <br/>
        <br/>
        <form class="form-horizontal" role="form" th:action="@{/fileSourceAdd}" method="POST"
              enctype="multipart/form-data">
            <input type="hidden" id="fileaddress" name="fileaddress" th:value="${filename}"/>
            <div class="form-group" th:if="!${isVideo}">
                <div class="col-sm-12" align="center">
                    <video id="my-video" class="video-js" controls preload="auto" width="800px" height="500px"
                           poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
                        <source th:src="${filename}" type="video/mp4">
                    </video>
                    <script type="text/javascript">
                        var myPlayer = videojs('my-video');
                        videojs("my-video").ready(function () {
                            var myPlayer = this;
                            myPlayer.play();
                        });
                    </script>
                </div>
            </div>
            <div class="form-group" th:if="${isVideo}">
                <label class="col-sm-2 control-label">资源文件:</label>
                <br/>
                <div class="col-sm-10">
                    <div class="quick-actions_homepage">
                        <ul class="quick-actions"  >
                            <li class="bg_ly"><a target="_parent" th:href="${filename}"><div> <i class="icon-globe"></i><span th:text="${fileD}"></span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源名称:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="filename" name="filename" type="text"
                           placeholder="资源名称">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">副标题:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="subtitle" name="subtitle"  type="text"
                           placeholder="副标题">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">学科:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="disciplines" name="disciplines"
                           type="text" placeholder="学科">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源类型:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="filetype" name="filetype">
                        <option value="1">视频</option>
                        <option value="0">应用</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源图片:</label>
                <div class="col-sm-10">
                    <input id="imgfile" name="imgfile" type="file" style="display: none;"/>
                    <div class="input-append">

                        <input id="fileimgsrc" readonly name="fileimgsrc" class="col-sm-6 input-large" type="text"
                               style="height: 30px; border-radius:5px; border:1px solid #CCCCCC; padding-left:10px;"
                               placeholder="文件上传"/>
                        <a class="col-sm-4 btn" onclick="$('input[id=imgfile]').click();"
                           style="background-color:#ADFF2F; height:30px; color:#ffffff; width:100px;">上传</a>
                    </div>
                    <script type="text/javascript">
                        $('input[id=imgfile]').change(function () {
                            $('#fileimgsrc').val($(this).val());
                        });
                    </script>
                </div>
            </div>
            <div class="form-group" id="AppDiv">
                <label class="col-sm-2 control-label">应用视频:</label>
                <div class="col-sm-10">
                    <input id="appVideoFile" name="appVideoFile" type="file" style="display: none;"/>
                    <div class="input-append">

                        <input id="appVideoUrl" readonly name="appVideoUrl" class="col-sm-6 input-large" type="text"
                               style="height: 30px; border-radius:5px; border:1px solid #CCCCCC; padding-left:10px;"
                               placeholder="文件上传"/>
                        <a class="col-sm-4 btn" onclick="$('input[id=appVideoFile]').click();"
                           style="background-color:#ADFF2F; height:30px; color:#ffffff; width:100px;">上传</a>
                    </div>
                    <script type="text/javascript">
                        $('input[id=appVideoFile]').change(function () {
                            $('#appVideoUrl').val($(this).val());
                        });
                    </script>
                </div>
            </div>
            <div class="form-group" id="pdfDiv">
                <label class="col-sm-2 control-label">资源pdf:</label>
                <div class="col-sm-10">
                    <input id="pdffile" name="pdffile" type="file" style="display: none;"/>
                    <div class="input-append">

                        <input id="pdfUrl" readonly name="pdfUrl" class="col-sm-6 input-large" type="text"
                               style="height: 30px; border-radius:5px; border:1px solid #CCCCCC; padding-left:10px;"
                               placeholder="文件上传"/>
                        <a class="col-sm-4 btn" onclick="$('input[id=pdffile]').click();"
                           style="background-color:#ADFF2F; height:30px; color:#ffffff; width:100px;">上传</a>
                    </div>
                    <script type="text/javascript">
                        $('input[id=pdffile]').change(function () {
                            $('#pdfUrl').val($(this).val());
                        });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源类型:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="enable" name="enable">
                        <option value="1">可用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源简介:</label>
                <div class="col-sm-10">
                    <textarea cols="148" rows="8" name="filedescription" id="filedescription"
                              placeholder="请输入资源简介"></textarea>
                </div>
            </div>

            <div class="form-group" align="center">
                <button onclick="submitForm()" class="btn btn-lg btn-success">提交</button>
                <!--<button onclick="backToSource()" class="btn btn-lg btn-danger">返回</button>-->
            </div>
        </form>

    </div>
    <div id='mask' class="mask" style="width:100%;height:100%;">
        <canvas id="c"></canvas>
        <br/>
        <span style="color: #fff;align:center;"><strong style="">请等待上传完成···</strong></span>
    </div>
 <!--   <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addroleLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addroleLabel">资源选择</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="addUser();" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>-->
</div>


<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; V-STU <a href="http://www.v-stu.com/">v-stu.com</a></div>
</div>
<!--end-Footer-part-->
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" th:sr></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<script th:src="@{/js/zoom.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script>
    $(function () {
        $("#AppDiv").hide();
        $("#pdfDiv").hide();
        $("#mask").hide();
    })
    //兼容火狐、IE8
    //显示遮罩层
    function showMask() {

        $("#mask").show();
    }
    //隐藏遮罩层
    function hideMask() {

        $("#mask").hide();
    }
    function submitForm() {
        if ($("#filename").val() == "") {
            layer.msg("请填写资源名称！");
            return;
        }
        showMask();
        $("form").submit();
    }
/*    function backToSource() {
        window.location.href = "/ossFileSources";
    }*/
    $("select#filetype").change(function () {
        if ($(this).val()==0){
            $("#AppDiv").show();
            $("#pdfDiv").show();
        }
        if ($(this).val()==1){
            $("#AppDiv").hide();
            $("#pdfDiv").hide();
        }
    });
</script>
</body>
</html>