<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-style.css}" />
    <link rel="stylesheet" th:href="@{/css/matrix-media.css}" />
    <link rel="stylesheet" th:href="@{/css/select2.css}"/>
    <link rel="stylesheet" th:href="@{/css/uniform.css}"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <title>用户资源查看</title>
</head>
<body>

<!--Header-part-->
<div id="header">
    <h1><a href="dashboard.html">V-STU</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div th:include="common/top :: top"></div>
<div th:include="common/menu :: menu"></div>

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="#" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="current">用户资源查看</a> </div>

    </div>

    <div class="container-fluid">
        <hr/>
        <div class="row-fluid">
            <div class="span12">

                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                        <h5>资源列表</h5>
                    </div>
                    <form class="form-inline">
                        <div class="form-group">
                            <label >用户账号:</label>
                            <input type="text" class="form-control" id="username-search" placeholder="用户账号"/>
                        </div>

                        <button type="button"  onclick="search();" class="btn btn-primary">查询</button>
                        <button type="button"  onclick="resert();" class="btn btn-info">重置</button>
                        <button shiro:hasPermission="/filesource/edit" type="button"  onclick="editFile()" class="btn btn-warning" style="float: right; margin-right: 1px;">查看</button>
                    </form>


                    <div class="widget-content nopadding">
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="datatable" >
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="checkall" />
                                </th>
                                <th>ID</th>
                                <th>资源名</th>
                                <th>副标题</th>
                                <th>学科</th>
                                <th>资源类型</th>
                                <th>资源介绍</th>
                                <th>资源图片</th>
                                <th>创建时间</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--Footer-part-->
<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; V-STU <a href="http://www.v-stu.com/">v-stu.com</a> </div>
</div>
<!--end-Footer-part-->
<script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" th:sr></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<script type="text/javascript">
    $(".checkall").click(function () {
        var check = $(this).prop("checked");
        $(".checkchild").prop("checked", check);
    });
    var table;
    $(document).ready(function() {
        table = $('#datatable').DataTable( {
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "searching" : false,
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "serverSide": true,//开启服务器模式，使用服务器端处理配置datatable
            "processing": true,//开启读取服务器数据时显示正在加载中……特别是大数据量的时候，开启此功能比较好
            //"ajax": '${ss}/user/userList.do',
            ajax : function(data, callback, settings) {
                //封装请求参数
                var param = getQueryCondition(data);

                $.ajax({
                    type: "GET",
                    url: 'fileinfos/getAllUserFile',
                    cache : false,  //禁用缓存
                    data: param,    //传入已封装的参数
                    dataType: "json",
                    success: function(result) {
                        //封装返回数据  如果参数相同，可以直接返回result ，此处作为学习，先这么写了。
                        var returnData = {};
                        returnData.draw = result.draw;//这里直接自行返回了draw计数器,应该由后台返回
                        returnData.recordsTotal = result.recordsTotal;//总记录数
                        returnData.recordsFiltered = result.recordsFiltered;//后台不实现过滤功能，每次查询均视作全部结果
                        returnData.data = result.data;
                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("查询失败");
                    }
                });
            },
            "columns": [
                {
                    "sClass": "text-center",
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "data": "id" },
                { "data": "filename" },
                { "data": "subtitle" },
                { "data": "disciplines" },
                { "data": "filetype" },
                { "data": "filedescription" },
                { "data": "fileimgsrc" },
                { "data": "createtime" }
            ],
            columnDefs:[
                { "orderable": false, "targets": 1 },
                { "orderable": false, "targets": 2 },
                /*{
                 "orderable":false,
                 "render":function (data,type,row) {
                 return "  <a href="filesource\\editfileView?id="+row.id+"" > "+row.filename +"</a>";
                 },
                 "targets":2
                 },*/
                {
                    "orderable": false,
                    "render": function(data, type, row) {
                        if(data==1){
                            return "视频";
                        }else{
                            return "应用";
                        }
                    },
                    "targets": 5
                },
                {
                    "orderable":false,
                    "render":function (data,type,row) {
                        return "<img src=\""+row.fileimgsrc+"\" style='width: 60px;height: 30' class=\"img-responsive center-block\" >";
                    },
                    "targets":7
                }

            ],

        } );



    } );

    function search(){
        table.ajax.reload();
    }
    function resert() {
        $("#username-search").val("");
        $("#filetype-search").val("");
    }
    //封装查询参数
    function getQueryCondition(data){
        var param = {};
        //组装排序参数
        param.username = $("#username-search").val();//查询条件
        param.filetype = $("#filetype-search").val();//查询条件
        //组装分页参数
        param.start = data.start;
        param.length = data.length;
        param.draw = data.draw;
        return param;
    }
    function editFile() {
        if ($(".checkchild:checked").length != 1)
        {
            layer.msg('请选择一条数据');
            return;
        }
        window.location.href="filesource/editfileView?id="+table.row($(".checkchild:checked").value).data().id;
    }

    function addUserFile() {
        var  userid = $("#userid").val();
        if(userid==""){
            layer.msg('系统故障');
        }
        if ($(".checkchild:checked").length <1)
        {
            layer.msg('请选择一条数据');
            return;
        }
        var fileids = new Array();
        for(var i=0;i<$(".checkchild:checked").length;i++){
            fileids.push($(".checkchild:checked")[i].value);
        }
        $.ajax({
            cache: true,
            type: "POST",
            url:'fileinfos/addUserFile',
            async: true,
            data:{
                fileids:fileids.toString(),
                userId:userid
            },
            success: function(data) {
                if(data=="success"){
                    layer.msg('保存成功');
                    table.ajax.reload();
                }else{
                    layer.msg('保存失败');
                }
            }
        });

    }
</script>

</body>
</html>