<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.study.model.FileInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="fileaddress" jdbcType="VARCHAR" property="fileaddress" />
    <result column="filedescription" jdbcType="VARCHAR" property="filedescription" />
    <result column="fileimgsrc" jdbcType="VARCHAR" property="fileimgsrc" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
    <result column="enable" jdbcType="VARCHAR" property="enable" />
    <result column="filetype" jdbcType="VARCHAR" property="filetype" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="disciplines" jdbcType="VARCHAR" property="disciplines" />
    <result column="pdfurl" jdbcType="VARCHAR" property="pdfurl" />
    <result column="appvideourl" jdbcType="VARCHAR" property="appvideourl" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
  </resultMap>
    <select id="loadFileResources" parameterType="String" resultType="com.study.model.FileInfo">
        SELECT
            *
        FROM
            file_info fi
        WHERE
            EXISTS (
                SELECT
                    1
                FROM
                    user_file uf
                WHERE
                    uf.fileId = fi.id
                AND EXISTS (
                    SELECT
                        1
                    FROM
                        user u
                    WHERE
                        u.username = #{username} and (uf.userId=u.id or uf.userId=u.parent_id)
                )
            )
    </select>
</mapper>